<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <h1>Verificando autorização</h1>
            </Authorizing>
            <NotAuthorized>
                <h1>Você não está autorizado</h1>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Não encontrado</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Desculpe, não encontramos esse endereço.</p>
        </LayoutView>
    </NotFound>
</Router>
